background = hsl(0, 0, 95%)
foreground = hsl(0, 0, 5%)

accent-pri = hsl(0, 65%, 39%)
accent-dark = hsl(0, 45%, 20%)
accent-light = hsl(0, 45%, 75%)
accent-text = hsl(0, 0, 100%)
accent-link = hsl(35, 70%, 48%)
accent-link-dark = hsl(35, 60%, 40%)

content-width = 1200px