@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap')
@import 'colors.styl'

*
  box-sizing border-box

html, body
  min-height 100%
  margin 0
  padding 0
  font 14pt "David Libre", serif
  color foreground
  background-color background

select, input
  transition background-color 0.2s
  color field-fg
  background-color field-bg
select:hover, select:focus, input:hover, input:focus
  background-color field-focus
option
  font-size 0.8em
  background-color button-bg

button
  transition background-color 0.2s
  color button-fg
  background-color button-bg
button:hover, button:focus
  background-color button-hover
button:active
  opacity 0.5

button, input, select
  font 1em "David Libre", serif
  border none

h1, h2, h3, h4, h5, h6, p, ul, li, a, button, input, select, option
  margin 0
  padding 0
  box-sizing border-box

a
  text-decoration none

li
  list-style none

.block
  display block

.row
  display flex
  flex-direction row

.row-mobile-col
  display flex
  flex-direction row
  @media screen and (max-width: content-width)
    flex-direction column

.col
  display flex
  flex-direction column

.col-mobile-row
  display flex
  flex-direction column
  @media screen and (max-width: content-width)
    flex-direction row

.grow
  flex 1 0 auto

.m-spaced
  justify-content space-between

.m-space-around
  justify-content space-around

.m-center
  justify-content center

.m-end
  justify-content flex-end

.c-start
  align-items flex-start

.c-center
  align-items center

.c-end
  align-items flex-end

.txt-left
  text-align left

.txt-center
  text-align center

.txt-right
  text-align right

.spacer-thin
  flex 0 0 5px

.spacer-med
  flex 0 0 10px

.filler
  flex 1 1 100%

.tippy-box
  font-size unset
  z-index 50

.tippy-content
  padding unset

.tippy-box[data-theme~='term']
  padding 0.8ch
  border-radius 0
  color tooltip-fg
  background-color tooltip-bg
  font-size 0.9em
  line-height 1.2
  filter drop-shadow(0 2px 10px black)
  .tippy-arrow
    color tooltip-bg
  blockquote
    margin 0
    padding 0 0 0 1ch
    border-left 2px solid tooltip-fg
    font-style italic
  .tippy-content
    > *
      margin-top 1ex
    > *:first-child
      margin-top 0

.tippy-box[data-theme~='section-nav']
  min-width 30ch
  height calc(100vh - 80px)
  margin 0
  padding 0
  border-radius 0
  background-color button-bg
  overflow-y auto
  a
    color button-fg
  .tippy-content
    display flex
    flex-direction column

nav.rule-nav
  .TreeNavigation
    padding 0 0 4ex 0
    ul
      display flex
      flex-direction column
      li
        display flex
        flex-direction row
        padding-left 2.5ch
  .NavigationLevel
    flex 1 1 auto
  .NavigationLevel__parent
    position relative
    display flex
    flex-direction row
    align-items center
  .NavigationLevel__children
    font-size 0.85em
  .NavigationToggle
    position absolute
    top auto
    left -2.75ch
    width 30px
    padding 0 1ch 0.5ex 1ch
  .NavigationToggle__icon
    transition transform 0.2s
    border-color button-fg
  .NavigationItem
    transition background-color 0.2s
    flex 1 1 auto
    padding 0
    a
      transition background-color 0.2s
      display block
      width 100%
      padding 1ex 2ch 1ex 0.5ch
    a:hover, a:focus
      color accent-light
  .NavigationItem--active
    background-color accent-dark
  .NavigationLevel--closed ul
    display none !important
