background = hsl(0, 72%, 24%)
background-dark = hsla(0, 0%, 0%, 0.2)
background-border = hsl(0, 54%, 10%)
background-nav = hsl(0, 15%, 10%)
background-nav-mobile = hsla(0, 15%, 10%, 0.96)
foreground = hsl(0, 0, 100%)
foreground-minor = hsl(42, 80%, 85%)
foreground-strong = hsl(42, 100%, 87.5%)
foreground-faint = hsla(0, 0, 100%, 0.4)
tooltip-bg = hsl(38, 54%, 85%)
tooltip-fg = hsl(0, 0, 5%)
button-bg = hsl(0, 0, 15%)
button-bg-dark = hsl(0, 0, 7.5%)
button-fg = hsl(0, 0, 100%)
button-fg-faint = hsla(0, 0, 100%, 0.3)
button-hover = hsl(0, 0, 20%)
field-bg = hsl(0, 65%, 10%)
field-fg = hsl(0, 0%, 100%)
field-focus = hsl(42, 35%, 45%)

accent-pri = hsl(42, 51%, 55%)
accent-dark = hsl(42, 46%, 35%)
accent-light = hsl(42, 63%, 69%)
accent-sec = hsl(210, 100%, 85%)
accent-sec-dark = hsl(210, 90%, 65%)
accent-text = hsl(0, 0, 100%)
accent-link = hsl(42, 47%, 58%)
accent-link-dark =hsl(42, 40%, 40%)

portrait-tablet-width = 760px
wide-tablet-width = 1200px
fullsize-width = 1400px

banner-height = 40px